h1 {
  color: #dd7700;
  font-style: italic;
}

button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.error,
.success {
  padding: 0.5em;
  font-size: 1.3rem;
}

.error {
  border: 4px solid #ff0055;
  background-color: #fff0f0;
}

.success {
  border: 4px solid #00ff55;
  background-color: #f0fff0;
}

article.blog {
  margin: 1em 0.5em;
  background-color: #eee;
  padding: 0.5em;
}
